<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unidadevangelismo.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @unidadevangelismo.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @unidadevangelismo.address %>
</p>

<p>
  <b>Mail:</b>
  <%= @unidadevangelismo.mail %>
</p>

<p>
  <b>Lat:</b>
  <%= @unidadevangelismo.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @unidadevangelismo.lon %>
</p>


<%= link_to 'Edit', edit_unidadevangelismo_path(@unidadevangelismo) %> |
<%= link_to 'Back', unidadevangelismos_path %>
