<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= link_to 'Congregaciónes', congregacions_path %> | <%= link_to 'Unidades de Evangelismo', unidadevangelismos_path %> | <%= link_to 'Grupos Bíblicos', grupo_biblicos_path%> | 
<%= link_to 'Ver mapa', :controller => "congregacions", :action => "vermapa"%>
</body>
</html>
